<?xml version="1.0" encoding="utf-8" ?>
<Defs>
  <AvaliMod.ModuleDef>
    <defName>RimValiCore</defName>
    <name>RimVali: Far from avalon</name>
  </AvaliMod.ModuleDef>
  
  <AvaliMod.CreditDef>
    <defName>ArtistCredits</defName>
    <title>The artists, who made the amazing textures:</title>
    <names>
      <li>Zentimental (@Zentimental_ on twitter)</li>
      <li>Todd The Avali (@ToddHusky on twitter)</li>
    </names>
  </AvaliMod.CreditDef>
  
  <AvaliMod.CreditDef>
    <defName>ProgrammerCredits</defName>
    <title>Programmers, who wrote the stuff that makes the mod:</title>
    <names>
      <li>LiQd</li>
      <li>Nesi (@Nesi_The_Avali on twitter)</li>
    </names>
  </AvaliMod.CreditDef>
  
    <AvaliMod.CreditDef>
    <defName>TesterCredits</defName>
    <title>The testers, who put up with all the bugs:</title>
    <names>
      <li>Altair</li>
      <li>Aipi avali (@AipiTheAvali on twitter)</li>
      <li>Ammery</li>
      <li>Axyl</li>
      <li>Anarchy (@AnarchyAvali on twitter)</li>
      <li>Ciraus</li>
      <li>CliffracerX</li>
      <li>CoastalCookie</li>
      <li>CrossFire</li>
      <li>Chaotic</li>
      <li>Cobalt</li>
      <li>Cyasi</li>
      <li>Caketaco (@Caketacowo on twitter)</li>
      <li>Diamond_</li>
      <li>Dwaggy</li>
      <li>Danny (@DannyAvali on twitter/twitch)</li>
      <li>Ei'Kuni</li>
      <li>Eilani</li>
       <li>Featherduster</li>
      <li>Halycon</li>
      <li>Happysammon</li>
       <li>Jaffer Roshak (@JafferRoshak on twitter)</li>
      <li>Ketz</li>
       <li>K'braid (@Braiden_Krahn on twitter)</li>
      <li>Lucia the Warmongering Avali</li>
      <li>miniusAreas</li>
      <li>Nicolain08</li>
      <li>Nova_</li>
      <li>Rvell</li>
      <li>RitualNeo (@RitualNeo on twitter/twitch)</li>
      <li>Shibi_Cherry</li>
      <li>SlowVelcrow</li>
      <li>SlowRandomOwl</li>
      <li>Sypher</li>
       <li>SoulblazerRP/Eimilian (@SoulblazerRP on twitter/youtube)</li>
      <li>TheHopelessThrumbo</li>
      <li>V Aƚԋҽɾσɳ</li>
      <li>Xavier (Dusty)</li>
      <li>ZukoTheAvali</li>
    </names>
  </AvaliMod.CreditDef>
  
  
   <AvaliMod.CreditDef>
     <defName>ContributorCredits</defName>
     <title>Contributors</title>
     <names>
       <li>DimasW</li>
       <li>Danny</li>
       <li>K'braid</li>
     </names>
   </AvaliMod.CreditDef>
</Defs>