<?xml version="1.0" encoding="utf-8" ?>
<Defs>
  <LetterDef>
    <defName>IlluminateAirdrop</defName>
    <color>(244,119,33)</color>
    <flashColor>(255, 255, 255)</flashColor>
    <bounce>true</bounce>
    <arriveSound>LetterArrive_Good</arriveSound>
    <flashInterval>10</flashInterval>
  </LetterDef>
</Defs>