[*.cs]
# ReSharper properties
resharper_csharp_insert_final_newline = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_keep_existing_declaration_parens_arrangement = false
resharper_keep_existing_expr_member_arrangement = false
resharper_wrap_before_first_type_parameter_constraint = true
